apiVersion: apps/v1
kind: Deployment
metadata:
  name: property-management-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: property-management-app
  template:
    metadata:
      labels:
        app: property-management-app
    spec:
      containers:
      - name: property-management-app
        image: areebanisar1/property-management-app:latest
        ports:
        - containerPort: 5000
        env:
        - name: MONGO_URI
          value: "mongodb+srv://i222548:fawad2212@cluster0.jsswp.mongodb.net/Property_Data"
