apiVersion: v1
kind: Service
metadata:
  name: property-management-service
spec:
  selector:
    app: property-management-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 5000
  type: NodePort
